body{
    margin: 0;
}

.fluid-img{
    width: 100%;
    max-width: 160px;
    height: auto;
    align-self: right;
}

#cover {
    width: 100%;
    height:100%;
    justify-items: right;
    border-radius:90px;
    border: 5px solid #4b2b31;
}/* спросить у ментора как подвинуть  картинку вправо*/

.media-btn {
    height:30px;
    width: 30px;
    justify-content: space-around;
    flex: 1;
} /* как поместить кнопки на равное расстояние?*/

.controls {
    flex: 1;
    background: #6f3637;
    border-radius: 20px;
    border: 5px solid #4b2b31;
    width: 171px;
    justify-content: space-evenly;
}

.playbox {
    flex: 1;
    width: 65%;
    height: 900px;
    float: left;
    background-color: rgb(23, 33, 42);
    vertical-align: middle;
}

.video-section {
    width: 35%;
    height: 900px;
    flex: 1;
    float: right;
    background-color: #00203FFF;
}

#video-night {
    width: 100%;
    align-self: center;
}

